* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

img {
  width: 100px;
  margin-right: 7px;
}

header {
  background-color: #21222A;
  color: #DEEBF8;
  font-size: 16px;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav > h3, nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
  font-weight: 700;
  font-size: 22.5px;
}

.blue-text {
  color: #61DAFB;
}

main {
  background-color: #282D35;
  color: #FFFFFF;
  padding: 2rem;
  height: 80vh;
  background-image: url("../images/react-logo.png");
  background-repeat: no-repeat;
  background-position: 250% 50%;
  background-size: 40rem;
}

main > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
}

.list > li {
  font-size: 16px;
  line-height: 40px;
}

.list {
  padding-left: 100px;
}

.list > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}